<footer class="footer has-background-white">
  <section class="container">
    <div class="columns">
      <div class="column">
        <div class="menu">
          <p class="menu-label">会社情報</p>
          <ul class="menu-list">
            <li><a>会社概要</a></li>
            <li><a>プライバシーポリシー</a></li>
            <li><a>利用規約</a></li>
          </ul>   
        </div>
      </div>

      <div class="column">
        <div class="menu">
          <p class="menu-label">お問い合わせ</p>
          <ul class="menu-list">
            <li><a>02.2393.2610</a></li>
            <li><a>事業協力交渉</a></li>
          </ul>   
        </div>
      </div>

      <div class="column">
        <div class="menu">
          <p class="menu-label">お得なキャンペーン</p>
          <ul class="menu-list">
            <li><a>銀行優待サービス</a></li>
            <li><a>LINE Payのポイント還元</a></li>
          </ul>   
        </div>
      </div>

      <div class="column">
        <div class="menu">
          <p class="menu-label">会員制度</p>
          <ul class="menu-list">
            <li><a>会員優遇内容</a></li>
            <li><a>返品・交換の手続き</a></li>
            <li><a>コールセンター</a></li>
          </ul>   
        </div>
      </div>
    </div>
  </section>
</footer>