<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to admin_root_path, class: 'navbar-item' do %>
      <i class="fas fa-home"></i>&ensp;| 商品管理システム |
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'メーカー', '#', class: 'navbar-item' %>
      <%= link_to '商品', '#', class: 'navbar-item' %>
      <%= link_to 'ジャンル', '#', class: 'navbar-item' %>
    </div>
</div>
</nav>
<br>