<section class="p-6">
  <h1 class="font-thin text-3xl">Hello, Yu :)</h1>

  <div class="buttons">
    <button class="button is-primary">Primary</button>
    <button class="button is-link">Link</button>
  </div>

  <div data-controller="hello">stimulus</div>
</section>

