<section class="p-6">
  <h1 class="font-thin text-3xl">Hello, Yu :)</h1>
  <br>
  <div class="buttons">
    <button class="button is-primary">Primary</button>
    <button class="button is-link">Link</button>
  </div>

  <i class="fas fa-cat"></i>
  
  <div data-controller="hello">stimulus</div>
</section>

