<section class="container is-fluid">
    <h1 class="title">カート
    <%= link_to cart_path, method: :delete, class: 'has-text-danger is-size-5', data: {confirm: '本当に削除しますか?'} do %>
        <i class="far fa-trash-alt"></i>
        <span>全ての商品を削除</span>
    <% end %>
    </h1>
    <%= render 'cart' %>
</section>