<h1 class="title">ジャンル一覧</h1>
<%= link_to 'ジャンル追加', new_admin_category_path, class: 'button is-dark' %>
<hr>
<article class="message">
    <div class="message-body">ヒント:マウスを使ってタイトルを移動できる</div>
</article>